{% set kibana = salt['grains.filter_by']({
    'Debian': {
        'revision': 'v3.0.0milestone5',
        'elasticsearch': '//"+window.location.hostname.replace(/^kibana/,"elasticsearch")+(window.location.port ? ":" + window.location.port : "")+"',
        'es_index': '"kibana-int"',
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('kibana', {})) %}

{% set syslog = salt['grains.filter_by']({
    'Debian': {
        'logstash': 'monitoring.local',
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('syslog',{})) %}


{% set logstash = salt['grains.filter_by']({
    'Debian': {
        'redis': 'monitoring.local',
        'redis_key': 'logstash:beaver',
        'enable_archive_logs': False,
        'enable_grokparsefailure_logging': True,
        'archive_log_dir': '/var/log/logstash/archive',
        'config_files': [
            '100_input_syslog.conf',
            '101_input_redis.conf',
            '102_input_unix_socket.conf',
            '200_filter_all.conf',
            '240_filter_syslog_all.conf',
            '250_filter_nginx_all.conf',
            '260_filter_audit_all.conf',
            '270_filter_haproxy_all.conf',
            '900_output_elasticsearch.conf',
            '910_output_archive.conf',
            '915_output_grokparsefailure.conf',
            '920_output_statsd_all.conf',
            '921_output_statsd_http_status.conf'
        ],
        'statsd_output': {
            'port': '8125',
            'host': 'localhost'
        },
        'elasticsearch': {
            'host': 'monitoring.local',
            'port': 9200,
            'flush_size': 1,
        }
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('logstash',{})) %}


{% set beaver = salt['grains.filter_by']({
    'Debian': {
        'redis': {
            'host': 'monitoring.local',
            'port': 6379,
            'db': 0,
        },
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('beaver',{})) %}
