

{% set syslog = salt['grains.filter_by']({
    'Debian': {
        'logstash': 'localhost',
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('collectd',{})) %}


{% set logstash = salt['grains.filter_by']({
    'Debian': {
        'redis': 'localhost',
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('logstash',{})) %}


{% set beaver = salt['grains.filter_by']({
    'Debian': {
        'redis': {
            'host': 'localhost',
            'port': 6379,
            'db': 0,
        },
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('beaver',{})) %}
