{% set kibana = salt['grains.filter_by']({
    'Debian': {
        'revision': 'v3.0.0milestone5',
        'elasticsearch': '//"+window.location.hostname.replace(/^kibana/,"elasticsearch")+(window.location.port ? ":" + window.location.port : "")+"'
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('kibana', {})) %}

{% set syslog = salt['grains.filter_by']({
    'Debian': {
        'logstash': 'monitoring.local',
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('syslog',{})) %}


{% set logstash = salt['grains.filter_by']({
    'Debian': {
        'redis': 'monitoring.local',
        'redis_key': 'logstash.beaver',
        'source': {
            'file': 'logstash-1.2.2-flatjar.jar',
            'path': 'http://static.dsd.io/packages',
            'hash': 'md5=f2ec9e54e13428ed6d5c96b218126a0e',
        },
        'config_files': [
            '100_input_syslog.conf',
            '101_input_redis.conf',
            '200_filter_all.conf',
            '240_filter_syslog_all.conf',
            '250_filter_nginx_all.conf',
            '260_filter_audit_all.conf',
            '270_filter_haproxy_all.conf',
            '900_output_elasticsearch.conf'
        ],
        'elasticsearch': {
            'host': 'monitoring.local',
            'port': 9200,
            'flush_size': 1,
        }
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('logstash',{})) %}


{% set beaver = salt['grains.filter_by']({
    'Debian': {
        'redis': {
            'host': 'monitoring.local',
            'port': 6379,
            'db': 0,
        },
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('beaver',{})) %}
